<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>HairDo Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/appointment.css' %}">


</head>
<body>
<nav class="navbar">
    <a href="#" class="navbar-brand"><span>Hair</span>Do<span>De</span>Sign</a>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/appointment">Price</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <button class="navbar-toggler">
        <span></span>
    </button>
</nav>

<header class="intro"></header>


<section id="page-1" class="container">
    <h1 class="title center">
        <a href="#page-2">Voor wie</a>
    </h1>

    <div class="card-container gender-choices">
        <a href="#page-2" class="card choice" id="man">
            Man
        </a>
        <a class="card choice" href="#page-2" id="vrouw">
            Vrouw
        </a>
        <a href="#page-2" class="card choice" id="kids">
            Kids
        </a>
        <a href="#page-2" class="card choice" id="anders">
            Anders
        </a>
    </div>
</section>

<section id="page-2" class="container">
    <h1 class="title center">
        <a href="#page-3">Behandelingen</a>
    </h1>

    <ul class="nav">
        {% for Treatment in allTreatment %}
            <li>
                <a> {{ Treatment.name }}</a>
                <ul class="sub-nav">
                    {% for TreatmentOption in allTreatmentOptions %}
                        {% if TreatmentOption.treatment_id_id == Treatment.treatment_id %}
                            <li><a href="#page-3" id="{{ TreatmentOption.name }}">{{ TreatmentOption.name }}</a></li>
                        {% endif %} {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</section>

<section id="page-3" class="container">
    <h1 class="title center">
        <a href="#page-4">Stylist</a>
    </h1>

    <div class="card-container stylisten">
        {% for Stylist in allStylist %}
            <div class="card stylist" id="{{ Stylist.firstname }}">
                <a href="#page-4" id="{{ Stylist.stylist_id }}">{{ Stylist.firstname }}</a>
            </div>
        {% endfor %}
    </div>
</section>


<section id="page-4" class="container">
    <h1 class="title center">
        <a href="#page-5">Datum/Tijd</a>
    </h1>
    <div class="datumform">
        <form id="dateform" role="form" onchange="dateselector()">
            {{ form }}

            <div id="timeslot"></div>
        </form>
    </div>
</section>

<section id="page-5" class="container">
    <h1 class="title center">
        <a href="#page-6">Bevestiging</a>
    </h1>
    <div class="bevestigingform">
        <form id="bevestigingform" role="form">
            {{ customerform }}

            <div class="">
                <button type="button" onclick="maak_afspraak();window.location.href = '/';alert('u heeft een afspraak gemaakt');">bevestig reservering</button>
            </div>
        </form>
    </div>
</section>

<img src="/pages/images/homePage.jpg" alt="" class="image">

<div class="footer">
    <p>&copy; hairdodesign.nl | designed by Quincey Mok</p>
</div>


<script src="{% static 'pages/appointment.js' %}"></script>

</body>
</html>


