<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>HairDo Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">

</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-brand"><span>Hair</span>Do<span>De</span>Sign</a>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#page-2">Price</a></li>
            <li><a href="#page-3">Contact</a></li>
            <li><a href="/appointment">Appointment</a> </li>
            <li><a href="/">Home</a></li>
        </ul>
        <button class="navbar-toggler">
       <span></span>
     </button>
    </nav>

    <header class="intro"></header>
    <section id="about" class="container">
        <h2><i class="fab fa-html5">page 1</i></h2>

    </section>
    <section id="page-2" class="container">
        <h2><i class="page_2">page 2</i></h2>
    </section>
    <section id="page-3" class="container">
        <h2><i class="page_3">Contact</i></h2>
    </section>

    <img src="images/homePage.jpg" alt="" class="image">

<div class="footer">
    <p>&copy; hairdodesign.nl | designed by Quincey Mok</p>
</div>
</body>
</html>
